@use "../variables" as var;

#navbar {
  height: 8%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 30px -16.43541717529297px #00000026;
  box-sizing: border-box;
  padding: 0.75em 2em;
  .searchbar {
    width: 25%;
    height: 100%;
    border: 1px solid #a2a3a433;
    border-radius: 4px;
    box-shadow: 0px 2px 30px -16.43541717529297px #00000026;
    box-sizing: border-box;
    padding: 0.5em;
    display: flex;
    align-items: center;
    svg {
      color: #a2a3a4;
    }
    input {
      width: 100%;
      border: none;
      outline: none;
      padding: 0 0 0 0.5em;
    }
  }
  .navbar__options {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &-btn-new-product {
      height: 100%;
      border: none;
      background-color: var.$color-primary;
      color: var.$color-secondary;
      border-radius: 6px;
      box-sizing: border-box;
      padding: 0.5em 1em;
      font-weight: 500;
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      div {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-right: 0.5em;
      }
    }
    &-box-notifications {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-left: 1.5em;
      svg {
        color: #3f444e;
        font-size: 20px;
      }
    }
    &-box-username {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-left: 1.5em;
      span {
        font-size: 16px;
        font-weight: 500;
        color: var.$color-tertiary;
      }
    }
    &-box-avatar {
      box-sizing: border-box;
      padding-left: 1.5em;
      img {
        height: 100%;
        width: 100%;
        max-width: 4em;
        border-radius: 50%;
        box-shadow: 0px 2px 4px 0px #00000040;
      }
    }
  }
}
