.searchbar {
  width: 25%;
  height: 100%;
  border: 1px solid #a2a3a433;
  border-radius: 4px;
  box-shadow: 0px 2px 30px -16.43541717529297px #00000026;
  box-sizing: border-box;
  padding: 0.5em;
  display: flex;
  align-items: center;
  svg {
    color: #a2a3a4;
  }
  input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0 0 0 0.5em;
  }
}
