.modal {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.75;
  display: none;
  &.isOpen {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__container {
    position: relative;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    min-width: 20%;
    min-height: 20%;
    &-close {
      display: flex;
      justify-content: flex-end;
      button{
        font-size: 1rem;
        font-weight: 700;
        border: none;
        color: #000000;
        border-radius: 50%;
        
        background-color: none;
      }
    }
  }
}
