#page__login {
  height: 100vh;
  width: 100vw;
  display: flex;

  .section__left {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    background-color: #248aff;
    color: white;
    // padding-top: 2%;
    // padding-left: 5%;
    .section__left-logo {
      height: 10%;
      img {
        width: 50%;
        height: 100%;
      }
    }
    .section__left-welcome {
      height: 100%;
      display: flex;
      align-items: center;
      h2 {
        font-weight: 700;
        font-size: 40px;
      }
    }
  }
  .section__rigth {
    width: 75%;
    height: 100%;
    // padding-top: 2%;
    .section__rigth-register {
      height: 5%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      span {
        color: #757575;
        font-size: 18;
        font-weight: 500;
        padding-right: 10px;
      }
      .btn-register {
        width: 15%;
        border: 1px solid #248aff;
        border-radius: 6px;
        background-color: #ffffff;
        color: #248aff;
        font-size: 18px;
        font-weight: 500;
      }
    }
    .section__rigth-login {
      width: 100%;
      height: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
      #form__login {
        display: flex;
        flex-direction: column;
        .form__login-title {
          color: #000000;
          font-size: 25px;
          font-weight: 700;
          padding-bottom: 22px;
        }
        .form__login-email{
          padding-bottom: 28px;
        }
        .lab {
          display: flex;
          flex-direction: column;
          font-size: 16px;
          font-weight: 500;
          color: #4a4844;
            padding-bottom: 10px;

          input {
            border: 2px solid #e5e5e5;
            border-radius: 4px;
            outline: none;
            ::placeholder {
              color: #c4c4c4;
            }
            :invalid {
              border-color: red;
            }
          }
        }
      }
    }
  }
}
